[Unit]
Description= Maintenance Mode for Webservices
#things required by target 
Requires= ssh.service nginx.service network-online.target
After= ssh.service nginx.service network-online.target
AllowIsolate=yes
